body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #2e2f42;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span-link-color-header {
    color: #2e2f42;
}

.menu-nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-nav-link:hover, 
.menu-nav-link:focus {
    color: #404BBF;
}

.menu-address {
    font-style: normal;
}

.menu-address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.menu-address-link:hover,
.menu-address-link:focus {
    color: #404BBF;
}


.main-section {
    background-color: #2E2F42;
}

.main-section-title {
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
}

.main-section-button {
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.main-section-button:hover, .main-section-button:focus {
    background-color: #404BBF;
}

.feature-section-item {
    line-height: 1.5;
}

.feature-section-title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.feature-section-paragraph-item {
    color: #434455;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #f4f4fd;
}

.team-section-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize
}

.team-section-item {
    background-color: #fff;
}

.team-section-title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}

.team-section-paragraph-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-section-title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-section-paragraph-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-footer {
    background-color: #2e2f42;
}

.span-link-color-footer {
    color: #f4f4fd;
}

.paragraph-footer {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}